body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.container {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
    border: 2px solid white;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}
@font-face {
    font-family: Courgette;
    src: url(Courgette-Regular.ttf);
}
h1{
    color: #2d3436;
    margin-bottom: 10px;
    font-family: Courgette;
}

.social-icons{
    margin-top: 30px;
    font-size: 30px;
    color: #2d3436;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-icons a
{
    color: #2d3436;
}

.InstaGram:hover {
    color: #E1306C;
    font-size: 35px;
}
.X:hover {
    color: #000000;
    font-size: 35px;
}
.GitHup:hover {
    color: #000000;
    font-size: 35px;
}
.LinkeDin:hover {
    color: #0077B5;
    font-size: 35px;
}
.SnapChat:hover {
    color: 	#fffc00;
    font-size: 35px;
}
.Threads:hover {
    color: #000000;
    font-size: 35px;
}
footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    font-family: Courgette;
    color: #2d3436;
    background-color: transparent;
}
